@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.gray.50');
    --foreground: theme('colors.gray.900');
  }

  .dark {
    --background: theme('colors.gray.900');
    --foreground: theme('colors.gray.50');
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

.mobile-menu-open {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}